<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Localiza Pet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
  <link rel="stylesheet" href="{% static 'base.css' %}">

</head>
<body>
  <header>
    <h1>Localiza Pet</h1>
    <p>Encontre o seu novo companheiro de quatro patas.</p>
    <nav class="navbar">
      <a href="/feed/">Início</a>
      <a href="/post/">Publicar</a>
      <a href="#about">Sobre Nós</a>
      <a href="/login/">Login</a>
      <a href="/logout/">Logout</a>
    </nav>
  </header>

  <div id="conteudo">
  {% block content %}  
  {% endblock content %}
  </div>
</body>
</html>
