{% extends "base.html" %}

{% block content %}


<div class="">
    <h2>Publique um pedido de ajuda</h2>
    <br>
  <form action="{% url 'publicar' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="my_file">
    <input type="radio" name="situação" id="eperd" value="0" checked> <label for="eperd" >Animal Perdido</label>
    <input type="radio" name="situação" id="eadot" value="1"> <label for="eadot">Disponível para adoção</label>
    <input type="text" name="desc" id="desc" value="Digite uma descrição do bixinho e onde ele se encontra">
    <input type="submit" value="Enviar">
  </form>
</div>
{% endblock content %}