body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #FFA07A, #FFD700); /* Gradiente de cores laranja e amarelo */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 400px;
  background-color: #fff; /* Fundo branco */
  padding: 40px; /* Aumento da parte branca */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: #ff9800; /* Laranja */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #ff9800; /* Laranja */
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f57c00; /* Laranja mais escuro */
}

.navbar {
  background-color: #f76c24; /* Laranja */
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.upload-form {
  margin-top: 20px;
}

.upload-form input[type="text"],
.upload-form input[type="date"],
.upload-form input[type="file"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

.upload-form button {
  background-color: #f76c24;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.lost-pets-feed {
  margin-top: 20px;
  height: 240px;
  width: 200px;
}

.lost-pet {
  border: 1px solid #f76c24; /* Borda laranja */
  padding: 10px;
  margin-bottom: 20px;
}

.lost-pet img {
  max-width: 100%;
  height: auto;
}
